.dark-mode {
  background-color: darken($darkGray, 10);
  color: $white;

  p {
    color: $white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gray;
  }

  .anuncio,
  .resumen-propiedad {
    background-color: $darkGray;
    border: 1px solid $darkGray;

    .precio {
      color: $success;
    }

    .icono {
      filter: invert(100%);
    }
  }

  .texto-nosotros blockquote {
    color: $white;
  }

  .formulario {
    label,
    legend,
    p {
      color: $gray;
    }

    input:not([type='submit']),
    textarea,
    select {
      background-color: $darkGray;
      border: 1px solid $darkGray;
      color: $white;
    }
  }
}
